

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel = "icon" href = 
    "https://www.gstatic.com/dialogflow-console/common/assets/img/logo-short.png" 
            type = "image/x-icon">
    <title>CodeItWithShakyo - About</title>
    <link rel="canonical" href="https://materialize-shopify-themes.myshopify.com/collections/fillscreen-style">

    <!-- Stylesheet -->
    <link href="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-materialize.min.css?v=6801316432905304896" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta property="og:site_name" content="Materialize Shopify Themes">
    <meta property="og:url" content="https://materialize-shopify-themes.myshopify.com/collections/fillscreen-style">
    <meta property="og:title" content="Fillscreen Style">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Materialize Shopify Themes">
    
    
    <meta name="twitter:site" content="@materializecss">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fillscreen Style">
    <meta name="twitter:description" content="Materialize Shopify Themes">
    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/17758583/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="6aacc581eb2b41d74f03c38d3c985dba">
<meta id="in-context-paypal-metadata" data-shop-id="17758583" data-venmo-supported="true" data-environment="production" data-locale="en_US" data-paypal-v4="true" data-currency="USD">



<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 240px;
  }
}
</style><script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
  <link rel="canonical" href="https://themes.materializecss.com/pages/startup-blog.html">
<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">


</head>

  <body>

    <!-- Navbar -->
    <nav class="n bi">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons  left">home</i></a>
        <ul id="nav-mobile" class="ag hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Pages<i class="material-icons ag">arrow_drop_down</i></a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/register">Register</a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
          
          <li><a class="g" href="/about"><i class="material-icons left">description</i>About</a></li>
          <li><a href="/chatbot"><i class="material-icons white-text left">chat_bubble</i>Chatbot</a></li>
          <li><a href="/jarvis"><i class="material-icons white-text left">accessibility</i>JARVIS - Desktop Assistant</a></li>
          <li><a href="/announcements"><i class="material-icons left">announcement</i>Announcements</a></li>
          <li><a href="/info"><i class="material-icons left">accessibility</i>Personal Info</a></li>
          <li><a href="https://codewithshakyo.blogspot.com/"><i class="material-icons left">art_track</i>Blog</a></li>
          <li><a href="/contact"><i class="material-icons left">message</i>Contact</a></li>
          <li><a href="/edit_profile"><i class="material-icons left">account_box</i>Edit Profile</a></li>
          <li><a href="/change_password"><i class="material-icons left">enhanced_encryption</i>Change Password</a></li>
          <li><a href="/info"><i class="material-icons left">account_circle</i>Logged in as {{user.username}}</a></li>
          <li><a href="https://github.com/Shakyo-choudhury"><i class="material-icons left">code</i>github</a></li>
          <li><a href="https://www.instagram.com/_shakyo"><i class="material-icons left">question_answer</i>instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UCsTBIx1rTYG_zYJVCqJEfoA"><i class="material-icons left">youtube_searched_for</i>Subscribe for free!</a></li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse ag"><i class="material-icons black-text">menu</i></a>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-teal open">Pages</a>
            <div class="collapsible-body">
              <ul>
                
                <li><a class="g" href="/about"><i class="material-icons white-text left">description</i>About</a></li>
                <li><a href="/chatbot"><i class="material-icons white-text left">chat_bubble</i>Chatbot</a></li>
                <li><a href="/jarvis"><i class="material-icons white-text left">accessibility</i>JARVIS - Desktop Assistant</a></li>
          <li><a href="/announcements"><i class="material-icons white-text left">announcement</i>Announcements</a></li>
          <li><a href="https://codewithshakyo.blogspot.com/"><i class="material-icons white-text left">art_track</i>Blog</a></li>
          <li><a href="/contact"><i class="material-icons white-text left">message</i>Contact</a></li>

          <li><a href="/info"><i class="material-icons white-text left">accessibility</i>Personal Info</a></li>
          <li><a href="/edit_profile"><i class="material-icons white-text left">account_box</i>Edit Profile</a></li>
          <li><a href="/change_password"><i class="material-icons white-text left">enhanced_encryption</i>Change Password</a></li>
          <li><a href="/info"><i class="material-icons white-text left">account_circle</i>Logged in as {{user.username}}</a></li>
          <li><a href="https://github.com/Shakyo-choudhury"><i class="material-icons white-text left">code</i>github</a></li>
          <li><a href="https://www.instagram.com/_shakyo"><i class="material-icons white-text left">question_answer</i>instagram</a></li>
          <li><a href="https://www.youtube.com/channel/UCsTBIx1rTYG_zYJVCqJEfoA"><i class="material-icons white-text left">youtube_searched_for</i>Subscribe for free!</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a class="waves-effect waves-teal" href="//codewithshakyo.blogspot.com/"><i class="material-icons white-text left">art_track</i>Blog</a></li>
      <li><a class="waves-effect waves-teal" href="/login"><i class="material-icons white-text left">account_box</i>Login</a></li>
      <li><a class="waves-effect waves-teal" href="/register"><i class="material-icons white-text left">account_circle</i>Register</a></li>
    </ul>

    <div class="gh v l valign-wrapper">
      <div class="c ci">
        <div class="d jt offset-s2 jo offset-m3 blog-title fade-transition">
          <h1>About Myself</h1>
          <span class="">SCROLL DOWN TO KNOW MORE</span>
        </div>
      </div>
    </div>

    <div class="v l full-height">
      <div class="c ci">
        <div class="d jt offset-s2 jo offset-m3 blog-body">
          <h4>How I am learning coding?</h4>

          <p>I wasn't intrested in coding when was something like 10-12 years old because at that time I was only taught QBasic and GWBasic and I found out that there weren't many features in those kind of languages as there are in Python. Then I came to know about a certain YouTube channel and I started learning coding, then I came up with the idea of starting a youtube channel and building a website for my channel. So I learnt some Django, HTML and some Javascript. Honestly speaking I took some of the Javascript codes from GitHub and implemented it here in this website.</p>
          <img class="materialboxed db" src="https://media.istockphoto.com/photos/python-code-picture-id1183226281?b=1&k=20&m=1183226281&s=170667a&w=0&h=v5WB9EQzegvOkR58u75qjOSC-kiv6WWnK1cn1VXfJDg=" alt="">
          <p>The main objective of this channel is to make my concepts better, because when a person teaches some other person his/her concept becomes better. So as I learn more things about programming I will make sure that I will make a video and upload it on youtube.</p>

          <div class="eh"></div>

          <h4>Who am I?</h4>
          <p>Keep following me on Instagram and check updates on YouTube to know who I am.</p>

          <img class="materialboxed db" src="https://images.unsplash.com/photo-1611262588024-d12430b98920?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">

          

          

        <div class="d jt offset-s2 jo offset-m3 blog-author">
          <div class="eh"></div>

          <div class="avatar-wrapper">
            <div class="k">
              <img src="https://images.unsplash.com/photo-1613918514536-2071b86612c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=462&q=80" alt="">
            </div>
          </div>

          <div class="gr">
            <span>Author</span>
            CodeItWithShakyo
          </div>

          <div class="ei">
            <span>2022</span>
            May 3
          </div>

          <div class="eh"></div>
        </div>

        
      </div>
    </div>

    <!-- Footer -->
    

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-all-min.js?v=3413361328181621882" crossorigin="anonymous"></script>

  </body>
</html>