<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
   <link href="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/startup-materialize.min.css?v=6801316432905304896" rel="stylesheet">
   <link rel = "icon" href = 
   "https://www.gstatic.com/dialogflow-console/common/assets/img/logo-short.png" 
           type = "image/x-icon">
           <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/17758583/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="6aacc581eb2b41d74f03c38d3c985dba">
<meta id="in-context-paypal-metadata" data-shop-id="17758583" data-venmo-supported="true" data-environment="production" data-locale="en_US" data-paypal-v4="true" data-currency="USD">
<link rel="canonical" href="https://materialize-shopify-themes.myshopify.com/cart">

  

<link rel = "icon" href = 
"https://www.gstatic.com/dialogflow-console/common/assets/img/logo-short.png" 
        type = "image/x-icon">
  
        <meta property="og:site_name" content="Materialize Shopify Themes">
        <meta property="og:url" content="https://materialize-shopify-themes.myshopify.com/cart">
        <meta property="og:title" content="Your Shopping Cart">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Materialize Shopify Themes">
        
        
        <meta name="twitter:site" content="@materializecss">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Your Shopping Cart">
        <meta name="twitter:description" content="Materialize Shopify Themes">
        
        
          
            <link href="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/gallery-materialize.min.css?v=5949261343333427621" rel="stylesheet" type="text/css" media="all" />
          
          <link href="//cdn.shopify.com/s/files/1/2030/2737/t/6/assets/theme.scss.css?v=13040590330786245977" rel="stylesheet" type="text/css" media="all" />
        
          <!-- Lato Font -->
          <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        
          <!-- Material Icons -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        


</head>
<header>
  <nav
  class="nav-extended
         
         ">

  
    <div class="nav-background">
      <div class="pattern active" style="background-image: url('https://images.unsplash.com/photo-1594904351111-a072f80b1a71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');"></div>
    </div>
  

  <div class="nav-wrapper container">
    <a href="/" itemprop="url" class="brand-logo site-logo">
      <i class="material-icons left">home</i>
        Home
      
    </a>

    
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">

      

          <li >
            <a href="/" class="site-nav__link">Home</a>
          </li>
        
      

          <li class="site-nav--has-submenu">
            <a href="#"
               class="site-nav__link dropdown-button"
               data-activates="features-dropdown"
               data-belowOrigin="true"
               data-constrainWidth="false"
               data-hover="true">
              Pages
              <i class="material-icons right">arrow_drop_down</i>
            </a>
            <ul id="features-dropdown" class="site-nav__submenu dropdown-content">
              
				<li><a class="g" href="/about"><i class="material-icons left">description</i>About</a></li>
				<li><a href="/announcements"><i class="material-icons left">announcement</i>Announcements</a></li>
				<li><a href="https://codewithshakyo.blogspot.com/"><i class="material-icons left">art_track</i>Blog</a></li>
				<li><a href="/contact"><i class="material-icons left">message</i>Contact</a></li>
				<li><a href="/edit_profile"><i class="material-icons left">account_box</i>Edit Profile</a></li>
				<li><a href="/change_password"><i class="material-icons left">enhanced_encryption</i>Change Password</a></li>
				<li><a href="/info"><i class="material-icons left">account_circle</i>Logged in as {{user.username}}</a></li>
				<li><a href="https://github.com/Shakyo-choudhury"><i class="material-icons left">code</i>github</a></li>
				<li><a href="https://www.instagram.com/_shakyo"><i class="material-icons left">question_answer</i>instagram</a></li>
				<li><a href="https://www.youtube.com/channel/UCsTBIx1rTYG_zYJVCqJEfoA"><i class="material-icons left">youtube_searched_for</i>Subscribe for free!</a></li>
              
            </ul>
          </li>
        
      

          <li >
            <a href="https://codewithshakyo.blogspot.com/" class="site-nav__link">
				<i class="material-icons left">art_track</i>Blog</a>
          </li>
          <li>
            <a href="/login" id="customer_login_link"><i class="material-icons left">account_box</i>Log in</a>
          </li>
          <li>
            <a href="/register" id="customer_register_link"><i class="material-icons left">account_circle</i>Create account</a>
		  </li>
		  <li>
			<a href="/logout" id="customer_logout_link"><i class="material-icons left">exit_to_app</i>Logout</a>
    </ul>
  </div>
  
  <div class="nav-header center">
  

    <!-- Show Carousel instead of default page titles -->
    
      
      

      

      
      

      <h1>PROFILE INFO</h1>
      <div class="tagline">{{user.username}}</div>
    

  </div>
</nav>
<ul class="side-nav" id="nav-mobile">

  
    
      <li> <a href="/login" id="customer_login_link"><i class="material-icons left">account_box</i>Log in</a> </li>
      <li> <a href="/register" id="customer_register_link"><i class="material-icons left">account_circle</i>Create account</a> </li>
    
  

  

      <li >
        <a href="/" class="site-nav__link"><i class="material-icons left">home</i>Home</a>
      </li>
    
  

      <li class="site-nav--has-submenu">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">Pages<i class="material-icons right">arrow_drop_down</i></div>
            <div class="collapsible-body no-padding">
              <ul>
                
                <li><a class="g" href="/about"><i class="material-icons  left">description</i>About</a></li>
                <li><a href="/announcements"><i class="material-icons left">announcement</i>Announcements</a></li>
                <li><a href="https://codewithshakyo.blogspot.com/"><i class="material-icons  left">art_track</i>Blog</a></li>
                <li><a href="/contact"><i class="material-icons  left">message</i>Contact</a></li>
                <li><a href="/info"><i class="material-icons  left">accessibility</i>Personal Info</a></li>
                <li><a href="/edit_profile"><i class="material-icons left">account_box</i>Edit Profile</a></li>
                <li><a href="/change_password"><i class="material-icons  left">enhanced_encryption</i>Change Password</a></li>
                <li><a href="/info"><i class="material-icons  left">account_circle</i>Logged in as {{user.username}}</a></li>
                <li><a href="https://github.com/Shakyo-choudhury"><i class="material-icons  left">code</i>github</a></li>
                <li><a href="https://www.instagram.com/_shakyo"><i class="material-icons  left">question_answer</i>instagram</a></li>
                <li><a href="https://www.youtube.com/channel/UCsTBIx1rTYG_zYJVCqJEfoA"><i class="material-icons  left">youtube_searched_for</i>Subscribe for free!</a></li>
                
              </ul>
            </div>
          </li>
        </ul>
      </li>
    
  

      <li >
        <a href="https://codewithshakyo.blogspot.com/" class="site-nav__link"><i class="material-icons left">art_track</i>Blog</a>
      </li>
    
  
<li>
  <a href="/logout" class="site-nav__link"><i class="material-icons left">exit_to_app</i>Logout</a>
</li>
  
</ul>
</header>

    

     
<body>

  <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="text-3xl font-medium title-font text-white mb-12 text-center">Testimonials</h1>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-800 bg-opacity-40 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-500 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">If you're looking to level up your coding skills, then look no further than Codeitwithshakyo! With helpful tutorials and resources, it's the perfect place to learn how to code. #coding #learntocode #codeitwithshakyo</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-white">Prakash Gupta</span>
                <span class="text-gray-500 text-sm">HOBBY DEVELOPER</span>
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-800 bg-opacity-40 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-500 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6">Learning to code can be intimidating, but it doesn't have to be! Check out @codeitwithshakyo for helpful tutorials and resources that make coding fun and easy. #coding #codelife</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-white">Alper Kamu</span>
                <span class="text-gray-500 text-sm">DESIGNER</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>